services:
  mysql:
    image: mysql:8.0.44
    environment:
      MYSQL_DATABASE: insurance
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: policyuser
      MYSQL_PASSWORD: policypass
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  policy-service:
    image: policy-service:latest
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/insurance
      SPRING_DATASOURCE_USERNAME: policyuser
      SPRING_DATASOURCE_PASSWORD: policypass
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "8081:8081"

  api-gateway:
    image: api-gateway:latest
    depends_on:
      - policy-service
    ports:
      - "8080:8080"
