server:
  port: 8080

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://host.docker.internal:8180/realms/insurance-realm/protocol/openid-connect/certs

  cloud:
    gateway:
      routes:
        - id: policy-service
          uri: http://policy-service:8081
          predicates:
            - Path=/api/policies/**
          filters:
            - TokenRelay

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
            allowCredentials: true
